<!DOCTYPE html>
<html>
    <head>
        <title>Loja MPA</title>
    </head>
    <body>
        <h1><%= saudacao %>  </h1>
        <% if(true) { %>
            <h2> dentro do IF </h2>
        <% } %> 
        <h2> fora do IF </h2>
        <ul>
            <li><a href="/produto/produto-novo">Cadastrar Produto</a></li>
            <li><a href="/produto/produto-listar">Listar Produto</a></li>
        </ul>
    </body>
</html>